* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: content-box;
    /* font-size: 16; */
}

body {
    box-sizing: inherit;
    /* background: url('./background.jpg') ; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    background: rgb(64,127,130);
    background: linear-gradient(90deg, rgba(64,127,130,1) 0%, rgba(72,184,189,1) 100%);

    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.boxDiv {
    background-color: rgba(88, 87, 88, 0.568);
    width: 150px;
    height: 150px;
    border: 5px solid rgb(29, 29, 29);
    transform: translate(0%, 50%);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    box-sizing: border-box;
    /* transition: all .4s; */
    position: relative;
    transition: all 0.1s;

    /* border-color: #ffc600; */
}

.keyLight {
    transform: translate(0%, 50%) scale(1.1);
    /* transform: scale(1.01); */
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    box-shadow: 0rem 0rem 2rem #ffc600;
    font-size: 50px;
}
