@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
:root {
    --colorBase: rgb(15, 15, 41);
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bx {
    background-color: lightblue;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digitTime {
    display: block;
    /* background-color: rgb(123, 166, 180); */
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 1.8rem;
    /* border: 1px solid #000; */
    margin-bottom: 50px;
    font-size: 2rem;
    font-family: serif;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5rem;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 1rem lightslategrey;
}
.hour,
.min,
.sec {
    display: inline-block;
}
.hour {
    width: 110px;
}
.min {
    width: 120px;
}
.sec {
    width: 60px;
}

.clock {
    background-color: chartreuse;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: stretch; */
    border: 1px solid #000;
    box-shadow: 0 0 0.5rem lightslategray;
}
.secTimer,
.minTimer,
.hourTimer {
    background-color: rgb(15, 15, 41);
    display: inline-block;
    position: relative;
    transform-origin: bottom;
    transform: translate(0, -50%);
    box-shadow: 0 0 0.2rem lightslategray;
    border-radius: 2px 2px 0 0;
}
.secTimer {
    /* position: absolute; */
    /* margin-top: 20px; */
    width: 3px;
    height: 60px;
}
.minTimer {
    /* margin-top: 20px; */
    width: 4px;
    height: 50px;
    transform: translate(-3.5px, -50%);
}

.hourTimer {
    width: 5px;
    height: 30px;
    transform: translate(-8px, -50%);
}
.hourTimer::after,
.minTimer::after,
.secTimer::after {
    /* content: ''; */
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
}
.hourTimer::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid var(--colorBase);
    right: -1.5px;
}
.minTimer::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid var(--colorBase);
    right: -2px;
}
.secTimer::after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 10px solid var(--colorBase);
    right: -1.5px;
}


.setting{
    background-color: lightcoral;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    /* padding: 2rem; */
    width: 400px;
}
.checking{
    /* background-color: blue; */
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.sectionMinBlock{
    background-color: blueviolet;
    
}

.sectionSetBtn{
    /* background-color: lightgreen; */
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.sectionSetBtn button{
    width: 40%;
    height: 50px;
    border-radius: 10px;
}